
.idea/
Assets/ExampleAssets.meta
Assets/ExampleAssets/
Assets/Kyaru.meta
Assets/Kyaru/
Assets/Test.meta
Assets/Test/
Assets/Models/nezha/
Assets/Models/nezha.meta
Assets/Scenes/SampleScene.unity
Assets/Scenes/SampleScene.unity.meta
Library/
Logs/
Temp/
obj/
UserSettings/
*.csproj
*.sln