
.idea/
Assets/ExampleAssets.meta
Assets/ExampleAssets/
Assets/Kyaru.meta
Assets/Kyaru/
Assets/Test.meta
Assets/Test/
Assets/Athena/
Assets/Athena.meta
Assets/Models/nezha/
Assets/Models/nezha.meta
Assets/Models/CornellBox/
Assets/Models/CornellBox.meta
Assets/Models/Sponza/
Assets/Models/Sponza.meta
Assets/Scenes/
Assets/Scenes.meta
Library/
Logs/
Temp/
obj/
UserSettings/
*.csproj
*.sln